################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/efcoretrackedissue/v16
/StockNotificationSystem/.vs/StockNotificationSystem/config
/StockNotificationSystem/.vs/StockNotificationSystem/DesignTimeBuild
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/StockNotificationSystem/.vs/StockNotificationSystem/v16
